@font-face {
    font-family: 'Open Sans';
    font-weight: 300;
    src: url('OpenSans-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    src: url('OpenSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Open Sans';
    font-weight: 700;
    src: url('OpenSans-Bold.ttf') format('truetype');
}
/* powyzsze tymczasowo dla potrzeb offline */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,700,700italic&subset=latin,latin-ext);

body {
	font-family:'Open Sans', sans-serif;
	font-size:1.2em;
	line-height: 1.5em;
	color:#444;
	font-weight:300;
	}

div.menu_adm {
	border-top: 3px solid #666;
	height: 20px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10000;
	}
div.menu_adm ul {
	padding: 0 20px;
	background: #666;
	-webkit-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;
}
div.menu_adm ul li{
	display: inline-block;
}
div.menu_adm ul li a {
	font-size: 0.8em;
	padding: 2px 5px;
	color: #fff;
	text-decoration: none;
}
div.menu_adm ul li a:hover {
	text-decoration: underline;
}
div.menu_adm ul.login {
	position: absolute;
	top: 0;
	right: 20px;
}

div.menu_grafik {
	height: 20px;
	z-index: 1000;
	
	}
div.menu_grafik ul {
	padding: 50 20px;
}
div.menu_grafik ul li{
	display: inline-block;
}
div.menu_grafik ul li a {
	font-size: 0.8em;
	padding: 2px 5px;
	color: #666;
	text-decoration: none;
}
div.menu_grafik ul li a:hover {
	text-decoration: underline;	
}
.dodaj {
	
	background-color: #AFCA1D;
	}
div.grafik {
	border: solid 1px red;
	width:100%;
	height:60%;
	}
div.zawartosc {
	vertical-align: top;
	position:relative;
	display:inline-block;
	}
p, a {
	color:#444;
	font-weight: 400;
	}
a:hover {
color: #D21F34;
}
a.link {
	text-decoration:none;
	color:#AFCA1D;	
	}
a.link2{
	text-decoration:none;
	color:#666;	
	}
div.stopka {
	position:fixed;
	bottom:10px;
	right:10px;
	line-height:1em;
	font-size:0.6em;
	}
	div.stopka p {
	margin:0;
	}
	
div.stopka p a {
	color:#D21F34;
	text-decoration:none;
	}
	
div.stopka p a:hover {
	color:#009CE2;
	}
hr {
margin: 20px 0;
border: 2px solid #666;
}
div.naglowek {
margin: 100px 0 50px 0;

}
div.naglowek img {
display: inline-block;
vertical-align: top;
width: 200px;

}
div.naglowek h1 {
display: inline-block;
vertical-align: top;
font-weight: 300;
font-size: 3.5em;
margin-top: -10px;
color: #D21F34;
width: 735px;
line-height: 1em;
}
h2 {
margin-bottom: 1em;
font-weight: 300;
line-height: 1em;
font-size: 2em;
color: #AFCA1D;
}
div.spacer {
margin: 40px 0;
}

input[type=submit]{
	background:#AFCA1D;
	border:solid 1px #AFCA1D;
	font-weight:700;
	color:#fff;
	height:26px;
	width:100%;
	margin:20px 0;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-family: 'Open Sans';
	}
input[type=submit]:hover{
	border:solid 1px #AFCA1D;
	background:#899D17;
	}
}
.tabelka {
	
	width: 100%;
	border-collapse: collapse;
	border: 3px solid #ccc;

}
.tabelka th
{
	padding: 10px 15px;
	font-weight: 700;
	color: #444;
	border-bottom: 1px dashed #ccc;
}
.tabelka td
{
	padding: 10px 15px;
	color: #222;
	font-size: 0.8em;
}
.tabelka tbody tr:hover td
{
	color: #000;
	background: #f4f4f4;
}
