/*css reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, hr {margin: 0; padding: 0; border: 0; outline: 0; vertical-align: baseline; background: transparent;}
body {font-size: 62.5%; line-height: 1;}
ol, ul { list-style: none;}
blockquote, q { quotes: none;}
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none;}
:focus {outline: 0;}
ins {text-decoration: none;}
del {text-decoration: line-through;}
table {border-collapse: collapse;	border-spacing: 0;}
b, strong {font-weight: bold;}
i, cite, em, var, dfn {font-style: italic;}
/**********************************************************************************/


body {
	font-family:'Open Sans', sans-serif;
	font-size:1.2em;
	line-height: 1.5em;
	color:#666;
	font-weight:300;
	}
h1 {
	position:absolute;
	top:165px;
	left:0;
	display:inline-block;
	width:400px;
	}
div.menu_adm {
	border-top: 3px solid #666;
	height: 20px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10000;
	}
div.menu_adm ul {
	padding: 0 20px;
	background: #666;
	-webkit-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;
}
div.menu_adm ul li{
	display: inline-block;
}
div.menu_adm ul li a {
	font-size: 0.8em;
	padding: 2px 5px;
	color: #fff;
	text-decoration: none;
}
div.menu_adm ul li a:hover {
	text-decoration: underline;
	
}
div.menu_adm ul.login {
	position: absolute;
	top: 0;
	right: 20px;
}
div.kontener {
	width:960px;
	margin:0 auto 0 auto;
	position:relative;
	}
	
div.zawartosc {
	width:480px;
	margin-left:480px;
	margin-top:100px;
	position:relative;
	display:inline-block;
	}
p {
	margin-bottom:1.5em;
	}

p.pytania span{
	font-size:1.5em;
	color:#AFCA1D;
	display:inline-block;
	margin-top:1em;
	font-weight: 400;
	}

form.mail {
	margin: -0.5em 0 0.7em 0;
	padding:0;
	}
	
form.mail div {
	border:solid 1px #899D17;
	background:#AFCA1D;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	height:40px;
	position:relative;
	}

form.mail input.okienko {
	background:#f0f0f0;
	border:solid 1px #AFCA1D;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	height:24px;
	width:360px;
	position:absolute;
	top:7px;
	left:7px;
	margin:0;
	padding:0 10px;
	font-family: tahoma, sans-serif;
	font-weight: bold;
	}

form.mail input.przycisk {
	background:#AFCA1D;
	border:solid 1px #AFCA1D;
	font-weight:bold;
	color:#fff;
	height:26px;
	width:80px;
	position:absolute;
	top:7px;
	right:7px;
	margin:0;
	padding:0;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	}
	
.logo-mini-b {
	color:#AFCA1D;
	font-weight: 400;
	}
	
.logo-mini-e {
	color:#D21F34;
	font-weight: 400;
	}
	
strong {
	font-weight:700;
	}
	
form.mail input.przycisk:hover {
border:solid 1px #AFCA1D;
	background:#899D17;
	}
	
p.poprawne {
	font-weight:bold;
	color:#AFCA1D;
	}
	
p.blad {
	font-weight:bold;
	color:#D21F34;
	}
	
p.blad span{
	font-weight:normal;
	}
	
p.blad span a {
	color:#D21F34;
	text-decoration:none;
	}
	
p.blad span a:hover {
	color:#009CE2;
	}	

div.stopka {
	position:fixed;
	bottom:10px;
	right:10px;
	line-height:1em;
	font-size:0.6em;
	}
	div.stopka p {
	margin:0;
	}
	
div.stopka p a {
	color:#D21F34;
	text-decoration:none;
	}
	
div.stopka p a:hover {
	color:#009CE2;
	}